$dark: #0f1419;
$light: #fff;
$light-dark: rgba(0, 0, 0, 0.1);
$red: #ff0000;
$grey: #666;

$font: Arial, Helvetica, sans-serif;
$font-size-xl: 24px;
$font-size: 16px;
$font-size-mobile: 14px;
$font-size-small: 12px;
